@model IEnumerable<coincontrol.Models.Meta.Meta>

@{
    ViewData["Title"] = "Index";
}

<h1>Metas</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Criar nova meta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorParcial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorParcial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Título)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdMeta">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdMeta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
